[submodule "client/android/bubbles/app/src/main/cpp/solidframe"]
	path = client/android/bubbles/app/src/main/cpp/solidframe
	url = https://github.com/vipalade/solidframe.git
	branch = master
[submodule "client/android/bubbles/app/src/main/cpp/boringssl"]
	path = client/android/bubbles/app/src/main/cpp/boringssl
	url = https://boringssl.googlesource.com/boringssl
	branch = master
